<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mes trajets</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
      <div detail-none (click)="expandItem(item)" ion-item *ngFor="let item of items">
        <button><b>{{item.name}}</b></button>
        <expandable [expandHeight]="itemExpandHeight" [expanded]="item.expanded">
          <div *ngIf='item.expanded==true'>
            <button ion-item *ngFor="let journey of item.journeys" (click)="onClickJourney($event, journey)">
              {{journey.villeDepart}} - {{journey.villeArrivee}}
            </button>
          </div>
        </expandable>
      </div>
    </ion-list>
</ion-content>