<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mes trajets</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
      <div detail-none (click)="expandItem(item)" ion-item *ngFor="let item of items">
        <button ion-button clear *ngIf="item.journeys"><h3>{{item.name}} ({{item.journeys.length}})</h3></button>
        <button ion-button clear *ngIf="!item.journeys"><h3>{{item.name}}</h3></button>
        <expandable [expandHeight]="itemExpandHeight" [expanded]="item.expanded">
          <ion-list *ngIf='item.expanded==true'>
            <button ion-item *ngFor="let journey of item.journeys" (click)="onClickJourney($event, journey)">
              <h2>{{journey.villeDepart}} - {{journey.villeArrivee}}</h2>
              <h3 *ngIf="journey.dateDepart">{{this.dateHelper.getDisplayDateOfTimestamp(journey.dateDepart)}}</h3>
            </button>
          </ion-list>
        </expandable>
      </div>
    </ion-list>
</ion-content>